[submodule "common-Boys"]
	path = bulo-common-modules
	url = git@github.com:maukaim/bulo-common-modules.git
[submodule "bulo-triggers-service"]
	path = bulo-triggers-service
	url = git@github.com:maukaim/bulo-triggers-service.git
[submodule "bulo-runs-orchestrator"]
	path = bulo-runs-orchestrator-service
	url = git@github.com:maukaim/bulo-runs-orchestrator.git
[submodule "bulo-flows-service"]
	path = bulo-flows-service
	url = git@github.com:maukaim/bulo-flows-service.git
[submodule "bulo-stage-models-registry-service"]
	path = bulo-stage-models-registry-service
	url = git@github.com:maukaim/bulo-stage-models-registry-service.git
[submodule "bulo-stages-service"]
	path = bulo-stages-service
	url = git@github.com:maukaim/bulo-stages-service.git
[submodule "bulo-users-service"]
	path = bulo-users-service
	url = git@github.com:maukaim/bulo-users-service.git
[submodule "bulo-teams-service"]
	path = bulo-teams-service
	url = git@github.com:maukaim/bulo-teams-service.git
