[submodule "bulo-triggers-module"]
	path = bulo-triggers-module
	url = git@github.com:maukaim/bulo-triggers-module.git
[submodule "bulo-runs-orchestrators-module"]
	path = bulo-runs-orchestrators-module
	url = git@github.com:maukaim/bulo-runs-orchestrators-module.git
[submodule "bulo-users-module"]
	path = bulo-users-module
	url = git@github.com:maukaim/bulo-users-module.git
[submodule "bulo-executors-module"]
	path = bulo-executors-module
	url = git@github.com:maukaim/bulo-executors-module.git
